{
  "presets": [
    "next/babel"
	],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "Components": "./app/components",
          "Hooks": "./app/hooks",
          "Routes": "./app/routes.js",
          "Styles": "./app/styles",
          "Util": "./app/util"
        }
      }
    ]
  ]
}
